{% extends 'base.html' %}

{% block title %}
<title>Лев Толстой – зеркало русской революции</title>
{% endblock %}

{% block content %}
<main>
  <div class='container py-5'>
    <h1>{{ text }}</h1>
    <article>
      <ul>
        <li>Автор: Лев Толстой</li>
        <li>Дата публикации: 30 июля 1854</li>
      </ul>
      <p>[Рымник.] Сд?лалъ верхомъ переходъ до Рымника. [[5]] Старикъ все не кланяется мн?. Об? вещи эти злятъ меня. Съ встр?чавшимися баши-бузуками велъ себя хорошо. Объяснился съ Крыжановскимъ. Онъ, не знаю зач?мъ, сов?туетъ мн? прикомандироваться къ казачьей батаре?; сов?тъ, которому я не посл?дую. Желчно спорилъ вечеромъ съ Фриде и Бабарыкинымъ, ругалъ Сержпутовскому и ничего не сд?лалъ, вотъ 3 упрека, которыя д?лаю с еб? за нын?шній день. (3)
      </p>
    </article>
    <hr>
    <article>
      <ul>
        <li>Автор: Лев Толстой</li>
        <li>Дата публикации: 29 июля 1854</li>
      </ul>
      <p>Исправленіе мое идетъ прекрасно. Я чувствую, какъ отношенія мои становятся пріятны и легки съ людьми всякаго рода, съ т?хъ поръ какъ я р?шился быть скромнымъ и уб?дился въ томъ, что казаться всегда величественнымъ и непогр?шнымъ вовсе не есть необходимость. Я очень веселъ. И дай Богъ, какъ мн? кажется, — чтобы веселье это происходило отъ самаго меня; отъ желаній вс?мъ быть пріятнымъ, скромности, необидчивости и внимательности за вспышками. — Тогда бы я всегда былъ веселъ и почти всегда счастливъ. Утромъ р?шилъ было сид?ть дома, позаниматься, но д?ло не пошло и не утерп?лъ вечеромъ, чтобы не пойдти пошляться. Идя отъ ужина, мы съ Тишк[евичемъ] остановились у бардели и насъ накрылъ Крыжановскій, что, признаюсь, было мн? не совс?мъ пріятно. Упрекаю себя за безхарактерность, что не высид?лъ дома, и зa праздность ц?лаго дня. Это главный пунктъ. (2)
      </p>
    </article>
    <hr>
    <article>
      <ul>
        <li>Автор: Лев Толстой</li>
        <li>Дата публикации: 28 июля 1854</li>
      </ul>
      <p>Пишу въ самомъ пріятномъ веселомъ расположеніи духа, въ которомъ я провелъ весь вечеръ. Утро читалъ, объ?дался грушами и вм?сто об?да ?лъ сыръ. Несмотря на кутежи у Сталыпина и Сержпутовскаго по случаю полученія наградъ, не завидовалъ, а провелъ день весело. Вечеромъ хватилъ босонож[ку] и выпилъ бокала два шампанскаго съ Шварц[емъ], Вейлеровскимъ [?] и Гембичомъ, потомъ болталъ съ Шубинымъ и съ Сашей Горчаковымъ. — Исключая праздности, днемъ своимъ очень доволенъ. (1)
      </p>
    </article>
  </div>
  </main>
</body>
</html>
{% endblock %}